body{
  background-color: #000000;
  font-size: 15px;
  font-family: Arial;
  color: #ffffff;
}
ul{
  font-size: 30px;
}
header{
  background: grey;
  background-size: 52%;
  padding-top: 150px;
  min-height: 70px;
  font-family: Arial;
  padding-bottom: 380px;
  text-align: right;
  padding-right: 0px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}
header li{
  padding: 0 20px 0 20px;
  list-style: none;
}
header nav{
}
header .current a{
  font-weight: bold;
}
header a:hover{
  font-weight: bold;
  color: #000000;
}

div .welcomephoto{
  width: 50%;
}

.welcomephoto img{
  margin-left: 25%;
  max-width: 50%;
  max-height: 150px;
}

.welcometext{
  margin-right: 25%;
  width: 50%;
  float: right;
  font-family: sans-serif;
  text-align: center;
}
