body{
  background-color: #000000;
  font-size: 15px;
  font-family: Arial;
  padding:0;
  margin:0;
}

ul{
  color: #ffffff;
  font-size: 30px;
}

header{
  background: #ffffff;
  background-image: url(IMG_3129.jpg);
  background-size: 50%;
  padding-top: 200px;
  min-height: 70px;
  text-align: center;
  font-family: courier;
  padding-bottom: 200px;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

header li{
  padding: 0 20px 0 20px;
  list-style: none;
}


header nav{
  margin-top:10px;
}

header .current a{
  font-weight: bold;
}

header a:hover{
  font-weight: bold;
}
