body{
  background-color: #ffffff;
  font-size: 15px;
  font-family: Arial;
  padding:0;
  margin:0;
}
.splitback{
  background: linear-gradient(to left, white 50%, #FF69B4 50%);
}
.reversesplitback{
  background: linear-gradient(to left, #FF69B4 50%, white 50%);
}

/* contact page */
.contactimg{
  background-image: url(amster.jpg);
}

/* coding page */
.centered{
  text-align: center;
  color: #000000;
}
.otherlink{
  text-align: center;
  font-size: 20px;
}
.row{
  text-align: center;
}
.codecolumn{
  padding: 5px;
  display: inline-block;
  text-align:center;
}
div .codecolumn img{
  border: 3px solid #000000;
}
div .codecolumn h3{
  font-family: times;
}

/* about page */
#abouttext{
  font-size: 15px;
  color: #000000;
  margin-left: 50px;
  line-height: 20px;
  font-family: times;
  margin-right: 550px;
}
.abouttext img{
  float:right;
  padding-right: 130px;
}

/* art page */
.artgrid{
  display: grid;
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.artgriditem{
  color: #000000;
  text-align: center;
  padding: 15px;
}
.item1{
  grid-column: 1 / span 2;
  grid-row: 1;
}
.item2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.item3 {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.item4 {
  grid-column: 1;
  grid-row: 3;
}
.item5 {
  grid-column: 2 / span 2;
  grid-row: 3;
}
.item6 {
  grid-column: 4;
  grid-row: 3;
}
#num6{
  float:right;
}

/* poetry page*/
#poems{
  margin-left: 350px;
  font-size: 18px;
  color: #000000;
  text-transform: lowercase;
  font-family: courier;
}
#poems2{
  margin-left: 550px;
  font-size: 18px;
  color: #000000;
  text-transform: lowercase;
  font-family: times;
}
#poems3{
  margin-left: 400px;
  font-size: 18px;
  color: #000000;
  text-transform: lowercase;
  font-family: monaco;
}
#poems4{
  margin-left: 750px;
  font-size: 18px;
  color: #000000;
  text-transform: lowercase;
  font-family: courier;
}

/* movies page */
#contain{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 4em;
  margin-right: 4em;
}
#vid{
  padding:0;
  margin:0;
  width:25%;
}
.vidp{
  width:25%;
  display: inline-block;
  padding:.5em;
  box-sizing: border-box;
  line-height: 25px;
  text-align: left;
  color: Black;
  vertical-align: top;
  font-family: helvetica;
}
.vidp2{
  width:25%;
  display: inline-block;
  padding:5px;
  box-sizing: border-box;
  line-height: 25px;
  text-align: right;
  color: Black;
  vertical-align: top;
  font-family: helvetica;
}

/* music page */
.musictext{
  float: center;
  margin:0px;
  padding:0px;
  text-align: center;
}
.caption{
  display: block;
  font-size: 13px;
  text-align: left;
  margin-left: 13em;
  width: 85em;
  font-family: courier;
  font-style: italic;
}

/* header */
header{
  background: #AC7A56;
  padding-top: 0px;
  min-height: 70px;
  color: #000000;
  text-align: center;
  font-family: helvetica;
  font-variant: small-caps;
  margin-top: 0px;
}
header a{
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}
header ul{
  margin:0;
  padding:0;
  padding-right: -39px;
}
header li{
  display:inline;
  padding: 0 15px 0 15px;
}
header nav{
  margin-top: 0px;
}
header .current a{
  font-weight: bold;
}
header a:hover{
  color: #7256ac;
}
header h1{
  font-family: arial;
  text-transform: uppercase;
  background-color: #56ac8f;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

/* footer */
.footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
.footer img{
  padding: 0 10px 0 10px;
}
