body{
  background-color: #ffffff;
  font-size: 15px;
  font-family: Arial;
  padding:0;
  margin:0;
}

/* coding page */
.centered{
  text-align: center;
  color: #000000;
}
.otherlink{
  text-align: center;
  font-size: 20px;
}
.row{
  text-align: center;
}
.codecolumn{
  padding: 5px;
  display: inline-block;
  text-align:center;
}
div .codecolumn img{
  border: 3px solid #000000;
}
div .codecolumn h3{
  font-family: times;
}

/* about page */
.abouttext{
  font-size: 17px;
  color: #000000;
  margin-left: 300px;
  margin-right: 300px;
  font-family: courier;
  line-height: 25px;
}

/* poetry page*/
#poems{
  margin-left: 350px;
  font-size: 18px;
  color: #000000;
  text-transform: lowercase;
  font-family: courier;
}
#poems2{
  margin-left: 550px;
  font-size: 18px;
  color: #000000;
  text-transform: lowercase;
  font-family: times;
}
#poems3{
  margin-left: 400px;
  font-size: 18px;
  color: #000000;
  text-transform: lowercase;
  font-family: monaco;
}
#poems4{
  margin-left: 750px;
  font-size: 18px;
  color: #000000;
  text-transform: lowercase;
  font-family: courier;
}

/* movies page */
#contain{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}
#vid{
  padding:0;
  margin:0;
  width:25%;
}
.vidp{
  width:25%;
  display: inline-block;
  padding:20px;
  box-sizing: border-box;
  line-height: 25px;
  text-align: left;
  color: Black;
  vertical-align: top;
  font-family: courier;
}
.vidp2{
  width:25%;
  display: inline-block;
  padding:20px;
  box-sizing: border-box;
  line-height: 25px;
  text-align: right;
  color: Black;
  vertical-align: top;
  font-family: courier;
}

/* music page */
.soundcloud{
  width: 40%;
  padding: 0px;
  margin: 0;
  text-align: right;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.soundcloudText{
  width: 40%;
  display: inline-block;
  padding-left: 30px;
  line-height: 36px;
  text-align: left;
  vertical-align:top;
  font-family: courier;



}
.musictext{
  float: center;
  margin:0px;
  padding:0px;
  text-align: center;
}
.caption{
  display: block;
  font-size: 13px;
  text-align: left;
  margin-left: 170px;
  width: 1100px;
  font-family: courier;
  font-style: italic;
}

/* header */
header{
  background: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  color: #000000;
  text-align: center;
  font-family: monaco;
}
header a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}
header ul{
  margin:0;
  padding:0;
}
header li{
  display:inline;
  padding: 0 15px 0 15px;
  font-family: times;
}
header nav{
  margin-top:10px;
}
header .current a{
  font-weight: bold;
}
header a:hover{
  font-weight: bold;
}
header h1{
  font-family: times;
}

/* footer */
.footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
.footer img{
  padding: 0 10px 0 10px;
}
